#wpcontent {
	padding-left: 0;
}

#wpbody-content > *:not(#mayawp-dashboard-root) {
	display: none;
}

.wp-menu-image.dashicons-before img {
	display: inline-block;
}

#wpbody-content input[type="checkbox"]:checked::before,
#wpbody-content input[type="radio"]:checked::before {
	display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
	   /**
		* Change these colors to your preferred ones.
		*/
	   --mayawp__color-background: #edede9;
	   --mayawp__color-brand: #5423E7;
   }
}

body {
	background: var(--mayawp__color-background);
}

#wpbody-content #mayawp-dashboard-root {
	font-family: Albert Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
